@media (max-width: 450px) {
  .wc-card {
    width: 244px; }
  .wc-adaptive-card {
    width: 258px;
    min-width: 240px; }
  .wc-message-content .video iframe {
    height: 150px; }
  .wc-message {
    max-width: 275px; } }

@media (min-width: 768px) {
  .wc-card {
    width: 400px; }
  .wc-adaptive-card {
    width: 414px;
    min-width: 240px; }
  .wc-message-content .video iframe {
    height: 224px; }
  .wc-message {
    max-width: 430px; } }
